server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: "THIS_IS_MY_SECRET_KEY_123456789012345"
