server:
  port: 8083

spring:
  application:
    name: userService

  datasource:
    url: jdbc:mysql://localhost:3306/user_db
    username: root
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

