server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: test

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: "THIS_IS_A_SUPER_SECRET_KEY_1234567890"
