server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/product/**

        - id: user-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/user/**

        - id: order-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/order/**
